/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
.rotation-center-card {
    transform-origin: center;
}

.game-card {
    width: 137px;
    height: 200px;
}

@media only screen and (max-width: 640px) {
    .game-card {
        width: 103px;
        height: 150px;
    }
}

@media only screen and (min-width: 1200px) {
    .game-card {
        width: 208px;
        height: 303px;
    }
}