/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
.rotation-center-card {
    transform-origin: center;
}

.game-card {
    width: 105px;
    height: 153px;
}

@media only screen and (max-width: 640px) {
    .game-card {
        width: 72px;
        height: 105px;
    }
}

@media only screen and (min-width: 1300px) {
    .game-card {
        width: 208px;
        height: 303px;
    }
}
